In [4]:
# Bibliotecas
import pandas as pd
import numpy as np

In [5]:
# Carregando meu dataset
dataset = pd.read_csv('london_merged.csv')

In [6]:
# Exploração dos dados
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [8]:
# Consultando o tamanho da base de dados
dataset.shape

(17414, 10)

In [10]:
# Contagem dos valores únicos da coluna weather_code
dataset.weather_code.value_counts()

<bound method IndexOpsMixin.value_counts of 0        3.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
17409    3.0
17410    4.0
17411    4.0
17412    4.0
17413    2.0
Name: weather_code, Length: 17414, dtype: float64>

In [12]:
# Contagem dos valores únicos na coluna season
dataset.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [13]:
# Criando dicionário para renomear as colunas
Rename = {
    'timestamp': 'hora',
    'cnt': 'contagem',
    't1': 'temp_real_C',
    't2': 'sensacao_temp_C',
    'hum': 'umidade_percent',
    'wind_speed': 'velocidade_vendo_km/h',
    'weather_code': 'clima',
    'is_holiday': 'feriado',
    'is_weekend': 'final_de_semana',
    'season': 'temporada'
}

# Renomeando as colunas do dataset a partir do dicionário
dataset.rename(Rename, axis=1, inplace=True)

In [14]:
# Tratando os valores percentuais na coluna de umidade_percent
dataset.umidade_percent = dataset.umidade_percent / 100

In [16]:
# Criando um diconário para definir as estações do ano
temporada_dicionario = {
    '0.0': 'Primavera',
    '1.0': 'Verão',
    '2.0': 'Outono',
    '3.0': 'Inverno'
}

# Criando um dicionário para definir o clima
clima_dicionario = {
    '1.0': 'Limpo',
    '2.0': 'Nuvens espalhadas',
    '3.0': 'Nuvens quebradas',
    '4.0': 'Nublado',
    '7.0': 'Chuvoso',
    '10.0': 'Tempestada',
    '26.0': 'Nevoso'
}

# Tratando os valores da coluna temporada para string (texto)
dataset.temporada = dataset.temporada.astype('str')
# Renomeando os valores numéricos para os valores do dicionário
dataset.temporada = dataset.temporada.map(temporada_dicionario)

# Tratando os valores da coluna clima para string (texto)
dataset.clima = dataset.clima.astype('str')
# Renomeando os valores numéricos para os valores do dicionário
dataset.clima = dataset.clima.map(clima_dicionario)

In [17]:
# Chegando se as modificações foram realizadas
dataset.head()

,hora,contagem,temp_real_C,sensacao_temp_C,umidade_percent,velocidade_vendo_km/h,clima,feriado,final_de_semana,temporada
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Nuvens quebradas,0.0,1.0,Inverno
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Limpo,0.0,1.0,Inverno
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Limpo,0.0,1.0,Inverno
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Limpo,0.0,1.0,Inverno
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Limpo,0.0,1.0,Inverno

In [18]:
# Salvando o dataframe em formato de excel para trabalhos futuros
dataset.to_excel('london_bikes.xlsx', sheet_name='Aluguel de Bikes em Londres')